<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

    <label for="start">Beginning: </label>
    <input type="date" name="start" id="startInput">

    <label for="end">End: </label>
    <input type="date" name="end" id="endInput">

    <button id="submitButton">Search</button>

<div>
  <canvas id="myChart" width="400" height="200"></canvas>
</div>